<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Mint - Jokes & Quotes</title>

    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{{url_for('static', filename='logo copy.png')}}" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="/assets/css/jokes.css" rel="stylesheet" />
    <!-- Vendor CSS Files -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/responsive.css" />
  </head>

  <body>
    <section>
    <div class="wid-info container">
      <div class="align-cont">
        <h1>Not So Serious Here</h1>
      <p class="desc">Having a good sense of humor has numerous long term and short term mental health benefits.<br>Term mental health benefits of humor-<br>Laughing automatically triggers positive physical and mental health changes that helps to relax your mind. <br> The <b>Short term </b>benefits of laughter include:</p>
      <div class="para">

      <ul>
        <li><b>Organ stimulation</b></li>
        <li><b>Stress Relief</b></li>
        <li><b>Relief from tension</b></li>
      </ul>
     </div>
 
     <p class="joke-heading">The best way of joking is to tell the truth. <br>That is the funniest joke in the world.</p>
    <div id="joke">
      <p class="joke-text"></p>
      <button id="joke_btn_copy"><i class="fas fa-copy"></i></button>
    </div>
    <button id="joke_btn" class="">Get Another Joke</button>
    <div id="quote">
      <p class="quote-text"></p> 
      <p class="quote-text--author"></p> 
      <button id="quote_btn_copy"><i class="fas fa-copy"></i></button>
    </div>
    <button id="quote_btn">Get Another Quote</button>
     
    
    </div>
    </div>
    
    </div>
    </div>
    <button class="back-btn"><a href="/" style="text-decoration: none;">Go Back</a></button>
    <script src="assets/js/joke.js"></script>
    <script src="assets/js/script.js"></script>
    
  </section>
</body>
</html>
