<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="{{url_for('static', filename='logo copy.png')}}" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Itim&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>

    <script src="assets/js/game.js"></script>
    <link href="/assets/css/game.css" rel="stylesheet" />
    <title>Mint : Tic-Tac-Toe</title>
  </head>
  <body>
   ]

    <div id="container">
        <div id="game"></div>
        <div id="score">0</div>
        <div id="instructions">Click (or press the spacebar) to place the block</div>
        <div class="game-over">
            <h2>Game Over</h2>
            <p>You did great, you're the best.</p>
            <p>Click or spacebar to start again</p>
        </div>
        <div class="game-ready">
            <div id="start-button">Start</div>
            <div></div>
        </div>
    </div>
    
  </body>
</html>
